<%- include("header") -%>
 
 <h2> This is about page</h2>

 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique at maxime rem exercitationem officia debitis temporibus dicta quaerat. Nam maiores nostrum numquam expedita minus non dignissimos odio beatae voluptates, at ut, dolorum animi quod. Rerum commodi laboriosam delectus voluptas non quasi ab debitis unde, voluptatibus ipsam error dolorem assumenda ipsa!</p>

 <%- include("footer") -%>